<div class="review">
      <h3 class="review__name">{{BlockName}}</h3>
      <div class="flex">
        <img class="review__img" src="{{img}}" alt="11">
        <div class="flex-2">
        <p class="description">{{description}}</p>
      <div class="review__btn"><a href="{{href}}">Подробнее...</a></div>
        </div>
      </div>
    </div>